/* FORMATTING THE GRID  */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

.grid{
    display: grid;
    max-width: 500px;
    min-width: 500px;
    
    max-height: 500px;
    min-height: 500px;

    border: 1px solid black;
  }

.box{
    display: flex;
    height: 100%;
    width: 100%;
    
    border: 1px solid #f5f5f5;  /* need a border to show the boxes */ 
    border-radius: 4px;  
   
    opacity: 0.5;  
    background-color: black;
    
    cursor: pointer; /* hand icon */
}

/* FORMATTING THE BUTTONS */
button {
    border-radius: 10px;
    background-color: transparent; 
    color: dimgray; 
    
    width: 100px;
    height: 50px;
} 
  
button:hover {
    transition: all .5s;
    transition-timing-function: ease-in-out; 
    
    color: white;
    background-color: black; 
}